

@{
    ViewBag.Title = "智地数据";
    Layout = "~/Views/Shared/_ZhiDiLayout.cshtml";
}
@section header
{
    <link href="../../Content/imageSliderStyle.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/amazingslider/amazingslider.js" type="text/javascript"></script>
    <script src="../../Content/amazingslider/initslider-1.js" type="text/javascript"></script>
    <script src="../../Content/highchart/highcharts.js" type="text/javascript"></script>
    <script src="../../Content/highchart/theme/grid.js" type="text/javascript"></script>
    <script src="../../Content/formvalidator/formValidator-4.1.3.js" type="text/javascript"></script>
    <script src="../../Content/formvalidator/formValidatorRegex.js" type="text/javascript"></script>
    @*<script src="../../Content/amazingslider/jquery.js"  type="text/javascript"></script>*@
    <script language="javascript" type="text/javascript">
        //var url = document.URL;
        var thisURL = document.URL;
        var getVal = thisURL.split('?')[1];

        var wuYeBianHao = getVal.split("=")[1];
        var chart1;
        var validate;

        semantic.menu = {};
        semantic.menu.ready = function() {
            var $menuItem = $('.menu a.item, .menu .link.item'),
                $dropdown = $('.menu .dropdown'),
                handler = {
                    activate: function() {
                        if (!$(this).hasClass('dropdown')) {
                            $(this)
                                .addClass('active')
                                .closest('.ui.menu')
                                .find('.item')
                                .not($(this))
                                .removeClass('active');
                        }
                    }
                };
            $dropdown.dropdown({ on: 'hover' });
            $menuItem.on('click', handler.activate);
        };


        $(document).ready(function() {

            semantic.menu.ready();
            $("#xiaoquxinxi_tab").css("display", "block");
            $("#loudongxinxi_tab").css("display", "none");
            $("#xiaoquxinxi").click(function() {
                $("#xiaoquxinxi_tab").css("display", "block");
                $("#loudongxinxi_tab").css("display", "none");
            });
            $("#loudongxinxi").click(function() {
                $("#xiaoquxinxi_tab").css("display", "none");
                $("#loudongxinxi_tab").css("display", "block");

            });
            $("#switchCity").css("display", "none");
            $('.ui.checkbox').checkbox();
            $('.ui.dropdown').dropdown();

            $('.star')
                .popup({
                    position: 'right center'
                });

            $.ajax({
                url: '@Url.Action("GetZhuZhaiJiChuXinXi")',
                data: {
                    wuYeBianHao: wuYeBianHao
                },
                dataType: 'json',
                success: function(result) {
                    $("#wuyemingcheng").html(result["WuYeMingCheng"]);
                    $("#xingzhengquyu").html(result["AreaPath"].split("/")[result["AreaPath"].split("/").length - 1]);
                    $("#zuoluo").html(result["ZuoLuo"]);
                    $("#kaifashang").html(result["KaiFaShang"]);
                    $("#jianzaoniandai").html(result["JianZaoNianDai"]);
                    $("#jianzhumianji").html(result["JianZhuMianJi"]);
                    $("#kaipanshijian").html(result["KaiPanShiJian"]);
                    $("#jiaotongzhuangkuang").html(result["JiaoTongZhuangKuang"]);
                    $("#jianjie").html(result["JianJie"]);
                    $("#jianzhumidu").html(result["JianZhuMiDu"]);
                    $("#qitamingcheng").html(result["BeiZhu"]);
                    if (result["YunXuPingGu"] == "false") {
                        $("#loudongxinxi").css("display", "none");
                    }
                    document.title = result["WuYeMingCheng"];

                }
            });
            $.ajax({
                url: '@Url.Action("GetImage")',
                data: {
                    wuYeBianHao: wuYeBianHao
                },
                dataType: 'json',
                success: function(result) {
                    var tmpHtml = '';
                    $(result).each(function(i) {
                        tmpHtml = tmpHtml + '<li><a href="' + result[i] + '" target="_self" class="html5lightbox"><img src="' + result[i] + '?width=100&height=100" alt="暂无照片"/></a></li>';
                    });
                    $("#xiaoqupingmian").html(tmpHtml);
                    intiSlider();
                }
            });
            $.ajax({
                url: '@Url.Action("GetJiaGeZouShi")',
                data: { wuYeBianHao: wuYeBianHao },
                dataType: 'json',
                success: function(result) {
                    intiChart(result);
                    chart1.redraw();
                }
            });
            $("#suozaiceng").click(function() {
                var count = $("#zuigaoceng").dropdown('get value');
                var tmpHtml = '';
                //                var maxLouCeng;
                //                if (count > 10) {
                //                    maxLouCeng = count;
                //                } else {
                //                    maxLouCeng = "0" + count;
                //                }

                for (var i = 1; i <= count; i++) {
                    tmpHtml = tmpHtml + '<div class="item" data-value="' + i + '">' + i.toString() + "层" + '</div>';
                    //                    if (i > 10) {
                    //                        tmpHtml = tmpHtml + '<div class="item" data-value="' + "LC" + maxLouCeng + i + '">' + i.toString() + "层" + '</div>';
                    //                        
                    //                    } else {
                    //                        tmpHtml = tmpHtml + '<div class="item" data-value="' + "LC" + maxLouCeng + "0" + i + '">' + i.toString() + "层" + '</div>';
                    //                    }

                }
                $("#suozaiceng .menu").html(tmpHtml);
                $("#suozaiceng").dropdown();

            });

            //最高层
            $.ajax({
                url: '@Url.Action("GetZuiGaoCeng", "ZhiDiZhuZhaiDetail")',
                dataType: 'json',
                success: function(result) {
                    var tmpHtml = '';
                    for (var i = 1; i <= result['louCeng']; i++) {
                        tmpHtml = tmpHtml + '<div class="item" data-value="' + i + '">' + i.toString() + "层" + '</div>';
                    }

                    $("#zuigaoceng .menu").html(tmpHtml);
                    $("#zuigaoceng").dropdown();
                    $("#zuigaoceng").dropdown('set selected', 1);
                    $("#zuigaoceng").dropdown('set value', 1);

                    $("#suozaiceng .menu").html('<div class="item" data-value="1">1层</div>');
                    $("#suozaiceng").dropdown();
                    $("#suozaiceng").dropdown('set selected', 1);
                    $("#suozaiceng").dropdown('set value', 1);

                    $("#huxing").dropdown();
                    $("#huxing").dropdown('set selected', 'HX0001');
                    $("#huxing").dropdown('set value', 'HX0001');
                }
            });

            //物业类型
            $.ajax({
                url: '@Url.Action("GetWuYeLeiXing", "ZhiDiZhuZhaiDetail")',
                data: {
                    wuYeBianHao: wuYeBianHao
                },
                dataType: 'json',
                success: function(result) {
                    var tmpHtml = '';
                    $(result).each(function() {
                        tmpHtml = tmpHtml + '<div class="item" data-value="' + this['id'] + '">' + this['type'] + '</div>';
                    });
                    $("#wuyeleixing .menu").html(tmpHtml);
                    $("#wuyeleixing").dropdown();
                    $("#wuyeleixing").dropdown('set selected', result[0]['id']);
                    $("#wuyeleixing").dropdown('set value', result[0]['id']);


                }
            });

            $("#pinggu").click(function() {
                var mianji = getJianZhuMianJi(); //$("#pinggujianzhumianji").val();

                if (isNaN(mianji)) {
                    alert("房产面积为非法值！");
                    $('#pinggujianzhumianji').focus();
                    return false;
                }

                var gelou = getGeLouMianJi();
                if (gelou.length > 0 && isNaN(gelou)) {
                    alert("阁楼面积为非法值！");
                    $('#geloumianji').focus();
                    return false;
                }

                if (mianji.length > 0) {
                    var daiMa = '';
                    $("[name='checkbox']").each(function() {
                        if ($(this).prop("checked") == true) {
                            daiMa += $(this).val() + "0001;";
                        } else {
                            daiMa += $(this).val() + "0002;";
                        }

                    });
                    $(".selection").each(function() {
                        daiMa += $(this).dropdown('get value') + ";";
                    });
                    $.ajax({
                        url: '@Url.Action("GetPingGuJieGuo", "ZhiDiZhuZhaiDetail")',
                        data: {
                            bianHao: wuYeBianHao,
                            cityId: getCurrentCity,
                            wuYeLeiXingId: getWuYeLeiXing,
                            daiMa: daiMa,
                            jianZhuMianJi: getJianZhuMianJi,
                            geLouMianJi: getGeLouMianJi,
                            suoZaiCeng: getSuoZaiCeng,
                            zuiGaoCeng: getZuiGaoCeng
                        },
                        dataType: 'json',
                        success: function(result) {
                            var tmpHtml = '';
                            //项目名称
                            tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">项目名称：</label><label style="font-size: 15px">' + $('#wuyemingcheng').text() + '</label></div><br/>';
                            //物业类型
                            tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">物业类型：</label><label style="font-size: 15px">' + $("#wuyeleixing").dropdown('get text').trim() + '</label></div><br/>';
                            //建筑面积
                            tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">建筑面积：</label><label style="font-size: 15px">' + getJianZhuMianJi() + '㎡</label></div><br/>';
                            //阁楼面积
                            if (getGeLouMianJi() != "") {
                                tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">阁楼面积：</label><label style="font-size: 15px">' + getGeLouMianJi() + '㎡</label></div><br/>';
                            }
                            //楼层
                            tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">楼层：</label><label style="font-size: 15px">' + getSuoZaiCeng() + '/' + getZuiGaoCeng() + '</label></div><br/>';

                            //户型
                            tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">户型：</label><label style="font-size: 15px">' + $("#huxing").dropdown('get text').trim() + '</label></div><br/>';

                            //幢因素
                            var zhuangYinSu = '<div class="inline field"><label style="color: #6793b7; font-size: 15px">幢因素：</label><label style="font-size: 15px">';
                            var zhuangCount = 0; //GJ
                            $("[name='checkbox']").each(function() {
                                if ($(this).prop("checked") == true) {
                                    if ($(this).val() == "GJ") {
                                        zhuangCount++;
                                        zhuangYinSu += "临主干道；";
                                    }
                                    if ($(this).val() == "BD") {
                                        zhuangCount++;
                                        zhuangYinSu += "临变电站；";
                                    }
                                    if ($(this).val() == "MQ") {
                                        zhuangCount++;
                                        zhuangYinSu += "临煤气站；";
                                    }
                                    if ($(this).val() == "JY") {
                                        zhuangCount++;
                                        zhuangYinSu += "临加油站；";
                                    }
                                    if ($(this).val() == "LJ") {
                                        zhuangCount++;
                                        zhuangYinSu += "临垃圾站；";
                                    }
                                    if ($(this).val() == "GY") {
                                        zhuangCount++;
                                        zhuangYinSu += "临高压线；";
                                    }
                                    if ($(this).val() == "HJ") {
                                        zhuangCount++;
                                        zhuangYinSu += "临湖景；";
                                    }
                                }

                            });
                            zhuangYinSu += '</label></div><br/>';
                            if (zhuangCount > 0) {
                                tmpHtml = tmpHtml + zhuangYinSu;
                            }
                            //套因素
                            var taoYinSu = '<div class="inline field"><label style="color: #6793b7; font-size: 15px">套因素：</label><label style="font-size: 15px">';
                            var taoCount = 0;
                            if ($("#tongfen").dropdown('get text').trim() != "请选择") {
                                taoCount++;
                                taoYinSu = taoYinSu + $("#tongfen").dropdown('get text').trim() + "；";
                            }
                            if ($("#caiguang").dropdown('get text').trim() != "请选择") {
                                taoCount++;
                                taoYinSu = taoYinSu + $("#caiguang").dropdown('get text').trim() + "；";
                            }
                            if ($("#jianzhuxingtai").dropdown('get text').trim() != "请选择") {
                                taoCount++;
                                taoYinSu = taoYinSu + $("#jianzhuxingtai").dropdown('get text').trim() + "；";
                            }
                            if ($("#jingguan").dropdown('get text').trim() != "请选择") {
                                taoCount++;
                                taoYinSu = taoYinSu + $("#jingguan").dropdown('get text').trim() + "；";
                            }
                            taoYinSu += '</label></div><br/>';
                            if (taoCount > 0) {
                                tmpHtml = tmpHtml + taoYinSu;
                            }
                            $(result).each(function() {
                                tmpHtml = tmpHtml + '<div class="inline field"><label style="color: #6793b7; font-size: 15px">'
                                    + this['Name'] + '：</label><label style="font-size: 15px">' + this['Content'] + '</label></div><br/>';
                            });

                            $("#pinggujieguo").html(tmpHtml);
                            $("#pinggujieguocontent").modal("setting", {
                                onDeny: function() {
                                    $(".ui.modal").modal("hide");
                                    return false;
                                },
                                onApprove: function() {

                                }
                            }).modal('show');
                        }
                    });
                }
                return false;
            });


            $('.ui.form').form({
                mianji: {
                    identifier: 'pinggu-jianzhumianji',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入建筑面积'
                    }]
                },
                onFailure: function() {
                    return false;
                },
                onSuccess: function() {
                    return true;
                }
            });
        });

        function getCurrentCity() {
            return $("#currentCity").dropdown('get text').trim();
        }

        function getWuYeLeiXing() {
            return $("#wuyeleixing").dropdown('get value');
        }

        function getJianZhuMianJi() {
            return $("#pinggujianzhumianji").val();
        }

        function getGeLouMianJi() {
            return $("#geloumianji").val();
        }

        function getSuoZaiCeng() {
            return $("#suozaiceng").dropdown('get value');
        }

        function getZuiGaoCeng() {
            return $("#zuigaoceng").dropdown('get value');
        }

        function intiChart(result) {
            chart1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'jiagezoushi',
                    //放置图表的容器
                    borderWidth: 1,
                    gridLineWidth: 0,
                    plotBackgroundColor: 'rgba(255, 255, 255, .9)', //null
                    plotShadow: true,
                    plotBorderWidth: 0, //null
                    borderRadius: 3,
                    height: 300,
                    defaultSeriesType: 'line'
                },
                title: {
                    text: ' '
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    //X轴数据
                    categories: result["time"], //['一月份', '二月份', '三月份', '四月份', '五月份', '六月份', '七月份', '八月份', '九月份', '十月份', '十一月份', '十二月份'],
                    //                    labels: {
                    //                        rotation: 0, //字体倾斜
                    //                        align: 'right',
                    //                        style: {
                    //                            //font: 'normal 13px 宋体'
                    //                            fontWeight: 'bold',
                    //                            fontSize: '12px',
                    //                            fontFamily: '"Microsoft YaHei" ! important;'
                    //                        }
                    //                    }
                    gridLineWidth: 2,
                    lineColor: '#000',
                    tickColor: '#000',
                    labels: {
                        style: {
                            color: '#000',
                            font: '11px "Microsoft YaHei" ! important;'
                        }
                    },
                    title: {
                        text: '时间',
                        style: {
                            //color: '#333',
                            
                            fontWeight: 'bold',
                            fontSize: '12px',
                            fontFamily: '"Microsoft YaHei" ! important;'
                        }
                    }
                },
                yAxis: {
                    minorTickInterval: 'auto',
                    lineColor: '#000',
                    lineWidth: 1,
                    tickWidth: 1,
                    tickColor: '#000',
                    labels: {
                        style: {
                            color: '#000',
                            font: '11px "Microsoft YaHei" ! important;'
                        }
                    },
                    title: {
                        text: '元/平方米',
                        style: {
                            //color: '#333',
                            fontWeight: 'bold',
                            fontSize: '12px',
                            fontFamily: '"Microsoft YaHei" ! important;'
                        }
                    }
                },
                tooltip: {
                    enabled: true,
                    formatter: function() {
                        return '<b>' + this.x + '</b><br/>' + this.series.name + ': ' + Highcharts.numberFormat(this.y, 1);
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: true//是否显示title
                    }
                },
                legend: {
                    layout: 'vertical', //vertical
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 50,
                    borderWidth: 1
                },
                series: result["jiaGe"]
            });
        }

        function intiSlider() {
            var scripts = document.getElementsByTagName("script");
            var jsFolder = "";
            for (var i = 0; i < scripts.length; i++) {
                if (scripts[i].src && scripts[i].src.match(/initslider-1\.js/i))
                    jsFolder = scripts[i].src.substr(0, scripts[i].src.lastIndexOf("/") + 1);
            }
            $("#amazingslider-1").amazingslider({
                jsfolder: jsFolder,
                width: "100%",
                height: 300,
                skinsfoldername: "",
                loadimageondemand: false,
                isresponsive: false,
                autoplayvideo: false,
                pauseonmouseover: false,
                addmargin: true,
                randomplay: false,
                slideinterval: 5000,
                enabletouchswipe: true,
                transitiononfirstslide: false,
                loop: 0,
                autoplay: true,
                navplayvideoimage: "play-32-32-0.png",
                navpreviewheight: 60,
                timerheight: 2,
                shownumbering: false,
                skin: "Stylish",
                textautohide: true,
                addgooglefonts: false,
                navshowplaypause: true,
                navshowplayvideo: false,
                navshowplaypausestandalonemarginx: 8,
                navshowplaypausestandalonemarginy: 8,
                navbuttonradius: 2,
                navthumbnavigationarrowimageheight: 32,
                navpreviewarrowheight: 8,
                showshadow: false,
                navfeaturedarrowimagewidth: 16,
                navpreviewwidth: 120,
                googlefonts: "Inder",
                textpositionmarginright: 24,
                bordercolor: "#ffffff",
                navthumbnavigationarrowimagewidth: 32,
                navthumbtitlehovercss: "text-decoration:underline;",
                arrowwidth: 32,
                texteffecteasing: "easeOutCubic",
                texteffect: "fade,slide",
                navspacing: 4,
                navarrowimage: "navarrows-20-20-1.png",
                ribbonimage: "ribbon_topleft-0.png",
                navwidth: 24,
                showribbon: false,
                arrowtop: 50,
                timeropacity: 0.6,
                navthumbnavigationarrowimage: "carouselarrows-32-32-0.png",
                navshowplaypausestandalone: false,
                navpreviewbordercolor: "#ffffff",
                ribbonposition: "topleft",
                navthumbdescriptioncss: "display:block;position:relative;padding:2px 4px;text-align:left;font:normal 12px Arial,Helvetica,sans-serif;color:#333;",
                navborder: 4,
                navthumbtitleheight: 20,
                textpositionmargintop: 24,
                navswitchonmouseover: false,
                playvideoimage: "playvideo-64-64-0.png",
                arrowimage: "arrows-32-32-0.png",
                textstyle: "static",
                playvideoimageheight: 64,
                navfonthighlightcolor: "#ffffff",
                showbackgroundimage: false,
                navpreviewborder: 4,
                navopacity: 0.8,
                shadowcolor: "#aaaaaa",
                navbuttonshowbgimage: false,
                navbuttonbgimage: "navbuttonbgimage-28-28-0.png",
                textbgcss: "display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#333333; opacity:0.6; filter:alpha(opacity=60);",
                playvideoimagewidth: 64,
                bottomshadowimagewidth: 110,
                showtimer: true,
                navradius: 2,
                navshowpreview: false,
                navmarginy: 16,
                navmarginx: 16,
                navfeaturedarrowimage: "featuredarrow-16-8-0.png",
                navfeaturedarrowimageheight: 8,
                navstyle: "numbering",
                textpositionmarginleft: 24,
                descriptioncss: "display:block; position:relative; margin-top:4px; font:14px Inder,Arial,Tahoma,Helvetica,sans-serif; color:#fff;",
                navplaypauseimage: "navplaypause-20-20-1.png",
                backgroundimagetop: -10,
                arrowstyle: "mouseover",
                timercolor: "#ffffff",
                numberingformat: "%NUM/%TOTAL ",
                navfontsize: 12,
                navhighlightcolor: "#ff4629",
                navimage: "bullet-24-24-0.png",
                navheight: 24,
                navshowplaypausestandaloneautohide: false,
                navbuttoncolor: "#333333",
                navshowarrow: true,
                navshowfeaturedarrow: false,
                titlecss: "display:block; position:relative; font: 16px Inder,Arial,Tahoma,Helvetica,sans-serif; color:#fff;",
                ribbonimagey: 0,
                ribbonimagex: 0,
                navshowplaypausestandaloneposition: "bottomright",
                shadowsize: 5,
                arrowhideonmouseleave: 1000,
                navshowplaypausestandalonewidth: 28,
                navshowplaypausestandaloneheight: 28,
                backgroundimagewidth: 120,
                navcolor: "#333333",
                navthumbtitlewidth: 120,
                navpreviewposition: "top",
                arrowheight: 32,
                arrowmargin: 8,
                texteffectduration: 1000,
                bottomshadowimage: "bottomshadow-110-95-0.png",
                border: 0,
                timerposition: "bottom",
                navfontcolor: "#ffffff",
                navthumbnavigationstyle: "auto",
                borderradius: 0,
                navbuttonhighlightcolor: "#ff4629",
                textpositionstatic: "top",
                navthumbstyle: "imageonly",
                textcss: "display:block; padding:12px; text-align:left;",
                navbordercolor: "#ffffff",
                navpreviewarrowimage: "previewarrow-16-8-0.png",
                showbottomshadow: true,
                navdirection: "horizontal",
                textpositionmarginstatic: 0,
                backgroundimage: "",
                navposition: "bottomright",
                navpreviewarrowwidth: 16,
                bottomshadowimagetop: 95,
                textpositiondynamic: "bottomleft",
                navshowbuttons: false,
                navthumbtitlecss: "display:block;position:relative;padding:2px 4px;text-align:left;font:bold 14px Arial,Helvetica,sans-serif;color:#333;",
                textpositionmarginbottom: 24,
                fade: {
                    duration: 1000,
                    easing: "easeOutCubic",
                    checked: true
                },
                transition: "fade"
            });
        }

        ;

    </script>
}
@section topleftmenu
{
    @{
        string strLinks = string.Empty;

        if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated && System.Web.HttpContext.Current.User.Identity.Name != "游客")
        {
            strLinks = "<li ><a id=\"shangye\" href=\""+ Url.Content("~/ZhiDiShangYeSearch") +"\">商业</a> </li> <li><a id=\"bangong\" href=\""+ Url.Content("~/ZhiDiBanGongSearch")+"\">办公</a> </li> <li><a id=\"gongyeyongdi\" href=\""+ Url.Content("~/ZhiDiGongYeYongDiSearch")+"\">土地招拍挂</a> </li>";
        }
        HtmlString htmlStrTmp = new HtmlString(strLinks);
     }
    
    <li class="actived" ><a id="zhuzhai"href="~/ZhiDiZhuZhaiSearch">住宅</a> </li>
    @htmlStrTmp
}
@section toprightmenu
{
    @{
        string strLinks = string.Empty;

        if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated && System.Web.HttpContext.Current.User.Identity.Name != "游客")
        {

            strLinks = "<li><a  id=\"gongyeyuping\" href=\"" + Url.Content("~/ZhiDiGongYeYuPing") + "\" id=\"gongyeyuping\">工业预评</a> </li>";
        }
        HtmlString htmlStrTmp = new HtmlString(strLinks);
     }
    
    <li><a  id="yanxi" href="~/ZhiDiYanXi">研析</a> </li>
    @htmlStrTmp
}
@section right{
    <div class="content-back">
        <div class="content-center">
            <!--left-->
            <div class="left">
                
               @* <div class="showpicture">*@
                    <div class="showpicture" style ="width:100%"id="amazingslider-1">
                        @*style="display:block;position:relative;margin:16px auto 56px; width:280px; height:212px;">*@
                        <ul id="xiaoqupingmian" class="amazingslider-slides" style="display: none; width:inherit;">
                        </ul>
                        <div class="amazingslider-engine" style="display: none;">
                        </div>
                    </div>
                
            </div>
            <img src="~/Images/content/cutline.png" />
            <!--right-->
            <div id="pinggujieguocontent" class="ui small modal">
                <i class="close icon"></i>
                <div class="header">
                    评估结果
                </div>
                <div id="pinggujieguo"class="content">
                    
                </div>
                <div class="actions">
                    <div class="ui negative button">
                        取消
                    </div>
                    <div class="ui positive right labeled icon button">
                        确定 <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
            <div class="right" style="padding-top: 4px;">
                <div class="ui top attached tabular menu">
                    <a class="active item" id="xiaoquxinxi">详细信息 </a>
                    <a class="item" id="loudongxinxi">价格评估</a>
                </div>
                <div class="ui form segment" style="display: block;" id="xiaoquxinxi_tab">
                    <div class="ui huge ribbon label blue">
                        相关信息</div>
                    <br />
                    <br />
                    <div class="two fields">
                        <div class="inline field">
                            <label class="content" style="color:#6793b7;font-size:15px">
                                物业名称：</label>
                            <label class="label-form" style="font-size:15px" id="wuyemingcheng">
                            </label>
                        </div>
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                行政区域：</label>
                            <label style="font-size:15px" id="xingzhengquyu">
                            </label>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                坐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;落：</label>
                            <label id="zuoluo" style="font-size:15px">
                            </label>
                        </div>
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                开&nbsp;&nbsp;发&nbsp;&nbsp;商：</label>
                            <label id="kaifashang" style="font-size:15px">
                            </label>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                建造年代：</label>
                            <label id="jianzaoniandai" style="font-size:15px">
                            </label>
                        </div>
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                开盘时间：</label>
                            <label id="kaipanshijian" style="font-size:15px">
                            </label>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                建筑面积：</label>
                            <label id="jianzhumianji" style="font-size:15px">
                            </label>
                        </div>
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                建筑密度：</label>
                            <label id="jianzhumidu" style="font-size:15px">
                            </label>
                        </div>
                    </div>
                    <div class="inline field">
                        <label style="color:#6793b7;font-size:15px">
                            交通状况：</label>
                        <label id="jiaotongzhuangkuang" style="font-size:15px">
                        </label>
                    </div>
                    <div class="inline field">
                        <label style="color:#6793b7;font-size:15px">
                            其他名称：</label>
                        <label id="qitamingcheng" style="font-size:15px">
                        </label>
                    </div>
                    <div class="inline field">
                        <label style="color:#6793b7;font-size:15px">
                            简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介：</label>
                        <label id="jianjie" style="font-size:15px">
                        </label>
                    </div>

                    <!--
                    <div class="ui divider">
                    </div>

                                        <div class="ui huge ribbon label blue">
                        楼栋信息</div>
                    <br />
                    <br />
                    -->

                                        <div class="ui divider">
                    </div>

                    <div class="ui huge ribbon label blue">
                        价格走势</div>
                    <br />
                    <br />
                    <div class="inline field">
                        <div class="showtable">
                    <div id="jiagezoushi">
                    </div>
                    </div>
                    
                </div>
                </div>
                <div class="ui form segment" style="display: block;" id="loudongxinxi_tab">
                    @*<div class="ui one column grid">*@ @*<div class="column">
                                <div class="ui form segment">*@
                    <div class="ui huge ribbon label blue">
                        基础信息</div>
                    <br />
                    <br />
                    <div class="inline field">
                        <label style="color:#6793b7;font-size:15px">
                            物业类型：</label>
                        <div class="ui fluid dropdown selection" id="wuyeleixing">
                            <input name="louchen" type="hidden" />
                            <div class="default text" data-value="BX0001">
                                请选择
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu" name="select-item">
                                <div class="item" data-value="TF0001">
                                    多层</div>
                                <div class="item" data-value="TF0002">
                                    高层小高层</div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label style="color:#6793b7;font-size:15px">
                                <i class="blue star icon" data-content="必填项"></i>建筑面积：</label>
                            <input class="fluid" id="pinggujianzhumianji" placeholder="请输入建筑面积" name="pinggu-jianzhumianji"
                                type="text" />
                        </div>
                        <div class="field">
                            <label style="color:#6793b7;font-size:15px">
                                阁楼面积：</label>
                            <input id="geloumianji" placeholder="请输入阁楼面积" type="text" />
                        </div>
                    </div>
                    <div class="ui divider">
                    </div>
                    <div class="ui huge ribbon label blue">
                        幢修正</div>
                    <br />
                    <br />
                    <div class="four fields">
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="GJ" />
                                <label style="color: red;font-size:15px">
                                    临主干道</label>
                                <i class="red road icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="BD" />
                                <label style="color: red;font-size:15px">
                                    临变电站</label>
                                <i class="red bolt icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="MQ" />
                                <label style="color: red;font-size:15px">
                                    临煤气站</label>
                                <i class="red cloud icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="JY" />
                                <label style="color: red;font-size:15px">
                                    临加油站</label>
                                <i class="red fire icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="four fields">
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="LJ" />
                                <label style="color: red;font-size:15px">
                                    临垃圾站</label>
                                <i class="red bitbucket icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="GY" />
                                <label style="color: red;font-size:15px">
                                    临高压线</label>
                                <i class="red signal icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input name="checkbox" type="checkbox" value="HJ" />
                                <label style="color: blue;font-size:15px">
                                    临&nbsp;&nbsp;湖&nbsp;&nbsp;景</label>
                                <i class="blue unhide icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider">
                    </div>
                    <div class="ui huge ribbon label blue">
                        套修正</div>
                    <br />
                    <br />
                    <div class="two fields">
                        <div class="inline field">
                            @*<img src="~/Images/content/star.png" alt="必填" />*@ 
                           
                            <label style="color:#6793b7;font-size:15px"> <i class="blue star icon"  data-content="必填项"></i>
                                最高楼层</label>
                            <div class="ui fluid dropdown selection" id="zuigaoceng">
                                <input name="louchen" type="hidden" />
                                <div class="default text">
                                    请选择</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                </div>
                            </div>
                        </div>
                        <div class="inline field">
                            
                            <label style="color:#6793b7;font-size:15px"><i class="blue star icon"  data-content="必填项"></i>
                                所在楼层</label>
                            <div class="ui fluid dropdown selection" id="suozaiceng">
                                <input name="louchen" type="hidden" />
                                <div class="default text" data-value="BX0001">
                                    请选择</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="inline field">
                            
                            <label style="color:#6793b7;font-size:15px"><i class="blue star icon"  data-content="必填项"></i>
                                户型</label>
                            <div class="ui fluid dropdown selection" id="huxing">
                                <input name="louchen" type="hidden" />
                                <div class="default text" data-value="BX0001">
                                    请选择</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="HX0001">
                                        一室一厅一卫</div>
                                    <div class="item" data-value="HX0002">
                                        二室一厅一卫</div>
                                    <div class="item" data-value="HX0003">
                                        二室二厅一卫</div>
                                    <div class="item" data-value="HX0004">
                                        二室二厅二卫</div>
                                    <div class="item" data-value="HX0005">
                                        三室一厅一卫</div>
                                    <div class="item" data-value="HX0012">
                                        三室一厅二卫</div>
                                    <div class="item" data-value="HX0006">
                                        三室二厅一卫</div>
                                    <div class="item" data-value="HX0007">
                                        三室二厅二卫</div>
                                    <div class="item" data-value="HX0008">
                                        四室二厅二卫</div>
                                    <div class="item" data-value="HX0009">
                                        四室二厅三卫</div>
                                    <div class="item" data-value="HX0010">
                                        五室二厅二卫</div>
                                    <div class="item" data-value="HX0011">
                                        五室二厅三卫</div>
                                </div>
                            </div>
                        </div>
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                通风情况</label>
                            <div class="ui fluid dropdown selection" id="tongfen">
                                <input name="louchen" type="hidden" />
                                <div class="default text" data-value="BX0001">
                                    请选择
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="TF0001">
                                        通风良好</div>
                                    <div class="item" data-value="TF0002">
                                        通风较差</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                采光情况</label>
                            <div class="ui fluid dropdown selection" id="caiguang">
                                <input name="louchen" type="hidden" />
                                <div class="default text" data-value="BX0001">
                                    请选择</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="CG0001">
                                        采光良好</div>
                                    <div class="item" data-value="CG0002">
                                        采光较差</div>
                                </div>
                            </div>
                        </div>
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                建筑形态</label>
                            <div class="ui fluid dropdown selection" id="jianzhuxingtai">
                                <input name="louchen" type="hidden" />
                                <div class="default text" data-value="BX0001">
                                    请选择</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="JX0001">
                                        正常</div>
                                    <div class="item" data-value="JX0002">
                                        平层</div>
                                    <div class="item" data-value="JX0003">
                                        跃层</div>
                                    <div class="item" data-value="JX0004">
                                        复式</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="inline field">
                            <label style="color:#6793b7;font-size:15px">
                                景&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;观</label>
                            <div class="ui fluid dropdown selection" id="jingguan">
                                <input name="louchen" type="hidden" />
                                <div class="default text" data-value="BX0001">
                                    请选择</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="JG0001">
                                        无景观</div>
                                    <div class="item" data-value="JG0002">
                                        正面景观</div>
                                    <div class="item" data-value="JG0003">
                                        侧面景观</div>
                                    <div class="item" data-value="JG0004">
                                        自用花园</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue submit button" id="pinggu">
                        开始评估
                         <i class="legal icon"></i> @*<div class="content-but">
                                                <button class="assess submit button" id="pinggu">
                                                </button>
                                                <button class="reset">
                                                </button>
                                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}
