<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css", "~/Content/jquery.mobile.icons.min.css","~/Content/jquery.mobile-1.4.2.min.css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile", "~/Scripts/jquery-1.10.2.js", "http://code.jquery.com/jquery-migrate-1.2.1.js", "~/Scripts/jquery.mobile-1.4.2.min.js", "~/Scripts/jquery.validate.js")
       *@
       @RenderSection("header",false)
        <script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
        </script>
    </head> 
<body> 

    <div data-role="page" data-theme="a">
        @*@Html.Partial("_ViewSwitcher")*@

 @*       <div data-role="header" data-theme="b" data-content-theme="b" style="background: #0180e3">
            @RenderSection("tab")
        </div>*@

        <div data-role="content">
            @RenderSection("body", false)
            @*@RenderBody()	*@	
        </div>

    </div>

</body>
</html>